.shikibu {
    background-color: #1a2638;
}

.identifier {
    color: #fff;
}

.function {
    color: #38c7ff;
}

.keyword {
    color: #ff8fa3;
}

.symbol {
    color: #ffc56d;
}

.string {
    color: #ffc56d;
}

.number {
    color: #ffc56d;
}

.comment {
    color: #94a1b3;
}
